@media only screen and (max-width:425px){
    /* nav-bar */
    .name{
        margin-left: 30px;
        font-size: 11px;
    }
    .modules{
        display: none;
    }
    .burger {
        display: flex;
        margin: 0rem 20px 0 0;
    }
    .hero {
        display: flex;
        flex-direction: column-reverse;
    }
    .main-hero-title{
        width: 35%;
    }
    .description .hero-title{
        font-size: 32px;
        padding-left: 30px;
    }
    .description .hero-sub-title {
        margin-top: -2rem;
        font-size: 16px;
        padding-left: 30px;
    }
    .description .hero-description {
        font-size: 14px;
        padding: 0.5rem 0 0 30px;

        width: 19rem;
    }
    .profile-img {
        width: 100%;
        text-align: center;
        margin: 3rem 0 0 0.5rem;
    }
    .description {
        margin: 0;
        padding: 40px 0 0 0px;
        width: 100%;
    }
    .profile-img .img{
        height: 230px;
    }
    .description .hero-btn-brief {
        margin: 1rem 30px 5rem  0;
        float: right;
    }
    .social-accounts ul {
        margin: 0 0 0 -0.5rem;
        font-size: 11px;
    }
    ul li {
        padding: 0 21px 0 0;
    }
    .education {
        font-size: 14px;
    }
    .education-data {
        width: 94%;
        font-size: 10px;
        line-height: 20.4px;
        border-radius: 5px 33px 5px 5px;
    }


    


    
    /* nav-bar end */

    /* about */
    .about {
        width: 100%;
    }
    .box {
        width: 80%;
        margin: 130px 160px 0 0;
        display: flex;
        flex-direction: column;
    }
    .x .title {
        font-size: 14px; 
    }
    .x .about-sub-descri {
        width: 19rem;
        font-size: 11px;
    }
    .skills {
        font-size: 14px;
    }
    .skills-data {
        font-size: 11px;
    }
    .y .description {
        font-size: 11px;
        margin: 1.9000000000000004rem 0 0 0;
    }
    .title-line{
        display: block;
    }
    .hr-line{
        display: none;
    }
    .x {
        width: 100%;
        padding-left: 30px;
    }
    .y {
        width: 100%;
        padding-left: 30px;
    }
    .skills-data {
        width: 94%;
        border-radius: 5px 33px 5px 5px;
    }
    /* about endd   */


    /* recent projects */
    .proj{
        width: 100%;
    }
    .proj .box2 {
        margin: 0 0 0 0;
        display: flex;
    }
    .box2{
        flex-direction: column;
    }
    .proj .works-img1, .proj .works-img2, .proj .works-img3{
        height: 115px;
        
    }
    .img-box1, .img-box2, .img-box3{
        display: flex;
        flex-direction: row-reverse;
        margin: 0 0 1rem 0;
        text-align: left;
    }
    .proj-name{
        padding:2.5rem 1rem 0 0.7rem;
        font-size: 11px;
        
    }
    .btn-view {
        justify-content: end;
        width: 135%;
    }
    .view-proj{
        margin-right:3rem;
    }
    /* recent projects end */
    

    /* places of word */
    .work-experience .box2 {
        margin: 0 0 0 0;
    }
    .work-right {
        width: 80%;
        padding-left: 30px;
        font-size: 11px;
    }
    .sub-title {
        font-size: 11px;
    }
    /* places of work end; */


    .f-right {
        width: 100%;
        text-align: right;
    }
    .footer-box {
        margin-left: 30px;
        display: flex;
        flex-direction: column;
    }
    .footer-descri {
        font-size: 12px;
        width: 11rem;
    }
    .f-social-accounts ul li {
        font-size: 11px;
    }
    .cjlogo {
        margin-top: 2rem;
        height: 120px;
        opacity: 0.8;
        margin-right: 10px;
    }

    /* view projects btn */
    .btn-view .view-proj {
        width: 7rem;
        font-size: 11px;
    }
    .btn-view {
        justify-content: end;
        width: 100%;
    }
    /* view projects btn end */


    /* view projects */
    .viewProjects {
    padding: 50px 0 0 30px;
    }
    .vp-box .title {
    font-size: 14px;
    }
    .close-img{
        height: 20px;
    }
    .project-title {
        font-size: 11px;
        margin: -0.0rem 0 0 0.3rem;
    }
    .pt-logo {
        height: 14px;
    }
    .img-1 {
        height: 150px;
        padding: 0.4rem 1.5rem 12px 0;
    }
    .img-2 {
        height: 150px;
        padding: 0.4rem 1.5rem 12px 0;
    }
    .row1, .row2, .row3 {
        flex-direction: column;
        padding-left: 1rem;
    }
    .scroll-bar {
        margin-right: 3.5rem;
    }
    /* view projects end */



    
}