html, body{
    margin: 0;
    padding:0;
}
body{
    background-color: #23262D;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}
.main-div{
    width: 100%;
    margin:0;
    padding:0;
}
.nav-bar{
    width: 100%;
    display: flex;
    margin-top: 50px;
}
.name{
    margin-left: 160px;
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}
.name p{
    color: #FF7A00;
}
.name .fullname{
    color: white;
}
.modules{
    width: 100%;
    margin:0 160px 0 0 ;
    text-align: right;
    display: flex;
    justify-content: end;
}
ul{
    display: flex;
    flex-direction: row;
}
ul li{
    text-decoration: none;
    list-style-type: none;
    padding: 0 34px 0 0;
}

.btn-brief{
    color: black;
    background-color: white;
    padding: 0.5rem;
    margin-top: -0.5rem;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}
.btn-brief span{
    color: #FF7A00;
}
/* hero start */
.hero{
    width: 100%;
    display: flex;
}
.description{
    width: 50%;
    margin: 5rem 0 0 160px; 
}
.description .hero-title{
    font-size: 56px;
    color: #FF7A00;
}
.description .hero-sub-title{
    margin-top: -3rem;
    font-size: 32px;
}
.description .hero-description{
    width: 22rem;
    margin-top: -1rem;
}
.description .hero-btn-brief{
    width: 5rem;
    color: black;
    background-color: #FF7A00;
    padding: 0.5rem;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}
.profile-img{
    width: 50%;
    text-align: right;
    margin: 5rem 160px 0 0;
}
.profile-img .img{
    height: 340px;
}

/* social-accounts start */
.social-accounts{
    width: 100%;
}
.social-accounts ul{
    margin:0 0 0 120px;
}

.social-accounts ul li{
    color: #737373;
}

/* about start  and recent projects */
.about{
    width: 100%; 
}
.box{
    margin: 130px 160px 0 160px;
    display: flex;
}
.x{
    width: 50%;
    margin-top: -3rem;
}
.x .title{
    font-size: 30px;
    color:white;
}
.x .about-sub-descri{
    width: 14rem;
    color: #FF7A00;
}

.skills{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}
.skills-data{
    width: 85%;
    font-size: 14px;
    padding: 1rem 0 1rem 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 5px 50px 5px 5px;
    background-color: #2F333C;


}
.y{
    width: 50%;
}
.y .hr-line{
    border: 1px solid orange;
}
.y .description{
    padding:0;
    margin:2.9rem 0 0 0;
    width: 100%;
}
.education{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}
.education-data{
    width: 100%;
    padding: 1rem 0 1rem 1.5rem;
    font-size: 14px;
    line-height: 42.4px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 5px 50px 5px 5px;
    background-color: #2F333C;


}
.dot{
    color: #FF7A00;
}

.proj{
    width: 100%;
    justify-content: center;
    display: flex;
   
}
.proj .box2{
    margin: 0 160px 0 160px;
    display: flex;
   
}
.proj .works-img1{
     height: 239px;
     background-color: #737373;
}

.proj .works-img2{
    height: 258px;
    background-color: #737373;
}
.proj .works-img3{
    height: 299px;
    background-color: #737373;
}
/* 
.img-box1{

} */
.img-box2{
    margin: 0 0 0 7rem;
}
.img-box3{
    margin: 0 0 0 7rem;
}

.btn-view{
    width: 100%;
    justify-content: center;
    display: flex;
}
.btn-view .view-proj{
    width: 10rem;
    color: black;
    background-color: #FF7A00;
    padding: 0.5rem;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}
.work-experience{
    width: 100%;
}
.work-experience .box2{
    margin: 0 160px 0 160px;
    display: flex;
}
.work-left{
    width: 50%;
}
.work-right{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.box3{
    width: 100%;
    margin-top:-0.8rem;
    display: flex;
}

.work-right .r-left{
    width: 50%;
}
.work-right .r-right{
    width: 50%;
    text-align: right;
}

.sub-title{
    font-size: 14px;
    color: #737373;
    margin-top:-0.8rem;
}


footer{
    height: 362px;
    width: 100%;
    background-color: #FF7A00;
}
.footer-container{
    width: 100%;
}
.footer-box{
    margin-left: 160px;
    display: flex;
}

.f-left{
    width: 50%;
}
.f-right{
    width: 50%;
    margin-right: 100px;
    text-align: right;
    
}

.footer-descri{
    width: 22rem;
    color: black;
    font-size: 32px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin:6rem 0 0 0;

}
.cjlogo{
    margin-top: 3rem;
    height: 262px;
    opacity: 0.4;
}


.f-social-accounts{
    width: 100%;
}
.f-social-accounts ul{
    margin:3rem 0 0 -40px;
}

.f-social-accounts ul li{
    color: black;
}